# Ignore virtual environments
venv
venv/
*/venv/
**/venv/

# Ignore large data and outputs
# data_private
# data_private/
# **/data_private
# data
# data/
# datasets/
# logs/
# checkpoints/
# *.pth
# *.pt
# *.npz
# *.nii
# *.nii.gz
# *.mgz
# tmp
# tmp/
# */tmp/
# **/tmp/

# Ignore build caches and system stuff
__pycache__/
*.pyc
*.pyo
*.tmp
*.log
*.sif
.DS_Store

# snakemake
**/.snakemake/
**/.keras/

# Git and IDE
.git/
.gitignore
.vscode/
.idea/

# Exclude Docker build cache directories
deploy/docker/__pycache__/
deploy/docker/.cache/

# Exclude other folders
dev

